.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd


.env.*
!.env.example

resume.json
wanted_jobs.csv
wanted_jobs_clean.csv
wanted_jobs_refined.csv

.streamlit/secrets.toml
.vscode/
.idea/

.env
*.env
backup(.env).txt

*.log
backups/
dashboard (2).py
dashboard_backup.py
.streamlit/secrets.toml